* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding-top: 31px;
  padding-bottom: 20px;
  background-color: #303030;
}
.header-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  list-style: none;
}

.header-item {
  font-family: Inter Tight, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2%;
  color: #ffffff;
  text-decoration: none;
}
.header-div {
  display: flex;
  gap: 12px;
}
.header-div-btn1 {
  font-family: Inter Tight, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -1%;
  color: #ffffff;
  background-color: transparent;
  padding: 20px 26px;
  border: none;
  border: 1px solid #ffffff;
  border-radius: 40px;
}
.header-div-btn2 {
  font-family: Inter Tight, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -1%;
  color: #303030;
  background-color: white;
  padding: 20px 26px;
  border: none;
  border: 1px solid #ffffff;
  border-radius: 40px;
}

.header-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
  .header {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .header-logo {
    width: 100px;
  }
  .header-list {
    display: none;
  }
  .header-div {
    display: none;
  }

  .header-btn {
    display: block;
  }
}

.hero {
  background-color: #303030;
}
.hero-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.hero-div {
  position: relative;
  z-index: 11;
}
.hero-title {
  font-family: Russo One, sans-serif;
  font-weight: 400;
  font-size: 96px;
  line-height: 115.2px;
  letter-spacing: 1%;
  color: #ffffff;
  margin-bottom: 16px;
}
.hero-title-b {
  font-family: Russo One, sans-serif;
  font-weight: 400;
  font-size: 96px;
  line-height: 115.2px;
  letter-spacing: 1%;
  color: #063835;
  background-color: #c3ff44;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  display: inline-block;
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
}
/* .hero-title-b b{
    position: relative;
    z-index: 22;
}
.hero-title-b::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 100%;
    height: 100%;
    display: block;
} */
.hero-text {
  font-family: Inter Tight, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 2%;
  color: #e5e4e4;
  margin-bottom: 32px;
  max-width: 540px;
}
.hero-btn {
  font-family: Inter Tight, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -1%;
  color: #ffffff;
  background-color: #fe4f31;
  border: none;
  padding: 20px 31px;
  border-radius: 40px;
}

.hero-img {
  max-width: 753px;
  position: relative;
  right: 0;
  top: 0;
}

.hero-span {
  text-wrap: nowrap;
}

@media (max-width: 1700px) {
  .hero-img {
    max-width: 553px;
  }
}

@media (max-width: 1300px) {
  .hero {
    padding-top: 20px;
  }
  .hero-box {
    display: block;
  }
  .hero-title {
    font-size: 53px;
    line-height: 60px;
  }

  .hero-title-b {
    font-size: 53px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-img {
    max-width: 403px;
  }

  .hero-text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  .hero-btn {
    font-size: 10px;
    line-height: 13px;
    padding: 10px 16px;
  }
}

@media (max-width: 440px) {
  .hero-img {
    max-width: 300px;
  }
  .hero-title {
    font-size: 40px;
    line-height: 45px;
  }
  .hero-title-b {
    font-size: 40px;
    line-height: 45px;
  }
}

@media (max-width: 325px) {
  .hero-img {
    max-width: 250px;
  }
  .hero-title {
    font-size: 30px;
    line-height: 45px;
  }
  .hero-title-b {
    font-size: 30px;
    line-height: 45px;
    padding-left: 15px;
    padding-right: 15px;
  }
}



.empower {
    padding-top: 115px;
    padding-bottom: 150px;
}

.empower-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.empower-img {
    margin: 24px;
    margin-left: auto;
    margin-right: auto;
}

.empower-title {
    max-width: 803px;
    font-family: Russo One;
    font-weight: 400;
    font-size: 80px;
    line-height: 112px;
    letter-spacing: 1%;
    text-align: center;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.empower-title-span {
    color: #303030;
    background-color: #C3FF44;
}

.empower-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.empower-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 114px;
    margin-bottom: 56px;
}

.empower-row-title {
    font-family: Russo One;
    font-weight: 400;
    font-size: 62px;
    line-height: 74.71px;
    letter-spacing: 1%;
    color: #851EE5;
    margin-bottom: 4px;
}

.empower-row-text {
    font-family: Inter Tight;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: -1%;
    color: #303030;
}

.empower-col-text {
    width: 440px;
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 2%;
    color: #484848;
    text-align: left;
    margin-bottom: 32px;
}

.empower-link {
    text-decoration: none;
    font-family: Inter Tight;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -1%;
    padding: 20px 31px;
    color: white;
    background-color: #FE4F31;
    border-radius: 40px;
    text-align: left;
}
.empower-link:hover{
    background-color: white;
    border: 1px solid #FE4F31;
    color: #FE4F31;
    transition: all.3s;
}
.empower-box-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 600px){
    .empower {
        padding-top: 90px;
        padding-bottom: 100px;
    }
    
    .empower-title {
        max-width: 300px;
        font-family: Russo One;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .empower-box {
        display: block;
        margin-bottom: 15px;
        align-items: center;
    }
    
    .empower-div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .empower-col{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .empower-row-title {
        font-family: Russo One;
        font-weight: 400;
        font-size: 32px;
        line-height: 74.71px;
        letter-spacing: 1%;
        color: #851EE5;
        margin-bottom: 0;
    }
    .empower-col-text{
        font-size: 14px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .empower-col-text{
        width: 350px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 32px;
    }
    .empower-box-img{
        max-width: 310px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .empower-box-2-img{
        max-width: 150px;
    }
    }
@media (max-width: 600px){
    .empower {
        padding-top: 90px;
        padding-bottom: 100px;
    }
    
    .empower-title {
        max-width: 300px;
        font-family: Russo One;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .empower-box {
        display: block;
        margin-bottom: 15px;
        align-items: center;
    }
    
    .empower-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .empower-col{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .empower-row-title {
        font-family: Russo One;
        font-weight: 400;
        font-size: 32px;
        line-height: 74.71px;
        letter-spacing: 1%;
        color: #851EE5;
        margin-bottom: 0;
    }
    .empower-col-text{
        font-size: 14px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .empower-col-text{
        width: 350px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 32px;
    }
    .empower-box-img{
        max-width: 310px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .empower-box-2-img{
        max-width: 200px;
    }
    }

.community {
  padding-top: 121px;
  padding-bottom: 121px;
  background-image: url(./img/comminity.png);
  background-size: cover;
}
.community-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
}
.community-title {
  font-family: Russo One, sans-serif;
  font-weight: 400;
  font-size: 88px;
  line-height: 105.6px;
  letter-spacing: -1%;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 684px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.community-div {
  text-align: center;
}
.community-btn {
  font-family: Inter Tight, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -1%;
  color: #ffffff;
  border: none;
  background-color: #fe4f31;
  padding: 20px 31px;
  border-radius: 40px;
}

@media (max-width: 600px) {
  .community {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .community-title {
    font-size: 43px;
    line-height: 60px;
    margin-bottom: 18px;
  }

  .community-btn{
    padding: 10px 16px;
    font-size: 10px;
    line-height: 12px;
  }
}

.fitgo {
    padding-top: 100px;
    padding-bottom:108px ;
}
.fitgo-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    padding-left:20px ;
    padding-right: 20px;
}
.fitgo-div1 {
}
.fitgo-div1-div {
}
.fitgo-div1-inp {
}
.fitgo-div2 {
}
.fitgo-div2-div1 {
}
.fitgo-div2-div1-title {
}
.fitgo-div2-div1-text {
}
.fitgo-div3-div {
}
.fitgo-div3-div-title {
}
.fitgo-div3-div-img {
}
